<h1>Artist#new</h1>
<p>Find me in app/views/artist/new.html.erb</p>

<%= form_for(@artist) do |f| %>

<div>
    <%= f.label :name %>
    <%= f.string :name %>
</div>

<div>
    <%= f.label :bio %>
    <%= f.text :bio %>
</div>

<div>
    <%= f.submit  %>
</div>
  
<% end %>
