<h1>Create an Artist</h1>

<%= form_for(@artist) do |f| %>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :bio, "Bio: " %>
    <%= f.text_area :bio %>
    <br>
    <%= f.submit %>
<% end %>