<%= form_for(@song) do |s|%>
    <label>Song Name:</label><br>
    <%= s.text_field :name %><br>

    <label>Song Artist:</label><br>
    <%= s.text_field :artist_id %><br>

    <label>Song Genre:</label><br>
    <%= s.text_field :genre_id %><br>

    <%= s.submit %>
<% end %>