<h1>Song#new</h1>
<p>Find me in app/views/song/new.html.erb</p>

<%= form_for(@song) do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :artist_id %>
    <%= f.text_field :artist_id %>
</div>

<div>
    <%= f.label :genre_id %>
    <%= f.text_field :genre_id %>
</div>

<div>
    <%= f.submit  %>
</div>
  
<% end %>