<h1>New Song Form</h1>
<%= form_for(@song) do |s| %>
  <label>Name:</label><br>
  <%= s.text_field :name %><br>

  <label>Artist:</label><br>
  <%= s.number_field :artist_id %><br>

  <label>Genre:</label><br>
  <%= s.number_field :genre_id %><br><br>

  <%= s.submit %>
<% end %>
