<h1>Song Form</h1>
<%=form_for (@song) do |f|%>
  <%=f.label :name %>
  <%=f.text_field :name %>
  <%=f.label :artist_id%>
  <%=f.text_field :artist_id%>
  <%=f.label :genre_id%>
  <%=f.text_field :genre_id%>
  <%=f.submit%>
<%end%>

#{ "song"=>{"name"=>"hello", "artist"=>"adele", "genre"=>"pop"}, "commit"=>"Create Song", "controller"=>"songs", "action"=>"create"} 