<%= form_for(@song) do |f| %>
    <label>Name: </label>
    <%= f.text_field :name %>
    <label>Artist_ID: </label>
    <%= f.integer :artist_id %>
    <label>Genre_ID: </label>
    <%= f.integer :genre_id %>

    <%= f.submit %>
<% end %>