<h1>My Song: <%= @song.name %></h1>
<h2>Artist: <a href="/artists/<%= @song.artist.id %>"><%= @song.artist.name %></a> </h2>
<h2>Genre: <a href="/genres/<%= @song.genre.id %>"><%= @song.genre.name %></a></h2>
