Song Page

<h1>
    Title:
    <%= @song.name %><br>
</h1>

Artist: <%= @song.artist %>
<br>
<%= link_to @song.artist.name, artist_path(@song.artist) %>
Genre: <%= @song.genre %>
<br>
<%= link_to @song.genre.name, genre_path(@song.genre) %>